<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.echo.EchoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>ru.job4j.crud.service.AddServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DelServlet</servlet-name>
        <servlet-class>ru.job4j.crud.service.DelServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>ru.job4j.crud.service.UpdateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.crud.service.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DelServlet</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>